<div class="row">
    <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->

    <div *ngFor="let product of products" ngClass="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{product.image}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{product.name}}</a>
          </h4>
          <h5>{{product.price}}</h5>
          <p class="card-text">{{product.desc}}</p>
        </div>
        <span>{{product.stt ? 'Còn hàng' : 'Hết Hàng'}}</span>
        <div class="btn btn-primary m-3">Buy now</div>
        <div class="btn btn-success m-3" [routerLink]="['/product-manager', product.id]">Detail</div>
        <!-- <div class="btn btn-danger m-3" (click)="removeProduct(product.id)">Delete</div> -->
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="selected">
      <app-product [data]="selected"></app-product>
    </div> -->

  </div>
